SLAVE_EMERGENCY_RECOVERY=true
EMERGENCY_RECOVERY_METHOD=logical
DOCKER_LAYER_CORRUPTION_RECOVERY=false

SEPARATED_MODE=false
SEPARATED_MODE_WHO_AM_I=master
SEPARATED_MODE_MASTER_IP=172.26.0.20
SEPARATED_MODE_MASTER_PORT=13504
SEPARATED_MODE_SLAVE_IP=172.26.0.58
SEPARATED_MODE_SLAVE_PORT=13505

MASTER_CONTAINER_NAME=mysql-57-master
SLAVE_CONTAINER_NAME=mysql-57-slave

EXPOSE_PORT_MASTER=13504
EXPOSE_PORT_SLAVE=13505

# 1) Passwords for 'root'@'localhost' for MASTER, SLAVE respectively. Must change the moment everything is set up.
MYSQL_ROOT_PASSWORD=aDavUg8SgD9nArREG

# 2) Master account for the Slave DB to connect to
MYSQL_REPLICATION_USER_MASTER=masterReplicator
MYSQL_REPLICATION_USER_PASSWORD_MASTER=5GLaDoorr3aYxJfK1hno

# 3) [NOT YET ACTIVATED] Master account with which you can connect from '%' (random remote areas)
MYSQL_REMOTE_USER_MASTER=masterManager
## Should change the moment everything is set up
MYSQL_REMOTE_USER_PASSWORD_MASTER=JR4HnpCFI49iBodEnmQ2

# 4) [NOT YET ACTIVATED] Slave account with which you can connect from '%' (random remote areas)
MYSQL_REMOTE_USER_SLAVE=slaveManager
## Should change the moment everything is set up
MYSQL_REMOTE_USER_PASSWORD_SLAVE=UgrhLAw6jturkee1y0xe

# [IMPORTANT] The following paths are preferably set outside of the project for enhanced security. (ex. ../../master-db/data)
MYSQL_DATA_PATH_MASTER=./master/data
MYSQL_LOG_PATH_MASTER=./master/log
MYSQL_FILE_PATH_MASTER=./master/file
MYSQL_ETC_PATH_MASTER=./master/etc

MYSQL_DATA_PATH_SLAVE=./slave/data
MYSQL_LOG_PATH_SLAVE=./slave/log
MYSQL_FILE_PATH_SLAVE=./slave/file
MYSQL_ETC_PATH_SLAVE=./slave/etc