[mysqld]
log_bin=mysql-bin
server_id=2
relay_log=/var/run/mysqld/mysql-relay-bin
#log_slave_update=1
read-only=1
default_authentication_plugin=mysql_native_password
bind-address=0.0.0.0

# error log setting
log-error=/var/log/mysql/error.log

# slow query log
slow_query_log = 1
slow_query_log_file =/var/log/mysql/mysql-slow.log
long_query_time = 3