[mysqld]

# 1. REPLICATION
log_bin=mysql-bin
server_id=2
#Prevent relay_log : ERROR 29 (HY000) at line 1: File '/var/run/mysqld/mysql-relay-bin.index' not fond (OS errno 13 - Permission denied)
#relay_log=/var/run/mysqld/mysql-relay-bin
#log_slave_update=1
read-only=1
default_authentication_plugin=mysql_native_password
bind-address=0.0.0.0

# 2. LOG
log-error=/var/log/mysql/error.log

slow_query_log = 1
slow_query_log_file =/var/log/mysql/mysql-slow.log
long_query_time = 3

# 3. BIN
binlog_cache_size=2M
max_binlog_size=60M
binlog_expire_logs_seconds=864000
binlog_format=row
log_bin_trust_function_creators=1

# 4. CAPACITY & SECURITY
# Default = 1M
max_allowed_packet=256M
# the number of trying connection with not permitted users or IPs
max_connect_errors=10000


# 5. INNODB
default-storage-engine=INNODB
# Not recommended RAM more that 256M due to recovery time in case of collision happening
innodb_log_file_size=256M
# 70~80% of the available memory for the DB
innodb_buffer_pool_size=1GB
innodb_log_buffer_size=4M
# 0 means "as many as possible"
innodb_thread_concurrency=0
# In case you don't have an enormous number of tables such as more than 1000, Set it to 1 to enhance performance
innodb_file_per_table = 1

# 6. SQL
transaction-isolation=READ-COMMITTED
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION


# 7. CHARACTER

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake


[client]

# 1. CHARACTER
#default-character-set = utf8mb4

[mysql]

# 1. CHARACTER
#default-character-set = utf8mb4

[mysqldump]

# 1. CHARACTER
#default-character-set = utf8mb4

# SERVER SECTION
# ----------------------------------------------------------------------
#
# The following options will be read by the MySQL Server. Make sure that
# you have installed the server correctly (see above) so it reads this
# file.
# file.
#
[mysqld_safe]
log_error=/var/log/mysql/error-safe.log
