/master/data/*
/master/etc/*
/master/log/*
/master/file/*
/slave/data/*
/slave/etc/*
/slave/log/*
/slave/file/*
/mha-manager/log/*
/mha-manager/mha-ssh/sshkeys/
!/mha-manager/mha-ssh/sshkeys/.gitkeep
.env
.dynamic_env
