[mysqld]
server_id=1
# default caching_sha2_password
default_authentication_plugin=mysql_native_password
bind-address=0.0.0.0

# error log setting
log-error=/var/log/mysql/error.log

# slow query log
slow_query_log = 1
slow_query_log_file =/var/log/mysql/mysql-slow.log
long_query_time = 3

log_bin=mysql-bin
sync_binlog=1

character-set-server = utf8mb4
collation-server = utf8mb4_general_ci